# Python cache files
__pycache__/
*.py[cod]

# Virtual environment
venv/
env/
ENV/
.venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# PyTorch model files
*.pt
*.pth

# Logs
*.log

# Other common files
*.DS_Store
*.egg-info/
dist/
build/

.env

checkpoint_dir/
pretrained_res18_unet.pth